*
  outline none

body
  background-color #efefef

.header
  height 35px
  background-color #fff
  font-size 20px
  line-height 35px

  .icon-set
    display inline-block
    position absolute
    top 0
    right 15px
    width 35px
    height 35px
    background url('../../../public/img/info/nav_set_icon@2x.png') no-repeat center
    background-size 16px 16px

  .header-title
    display inline-block
    position absolute
    left 48%
    top 0
    height 35px
    line-height 35px
    text-align center
.info-cells

.info-cell
  margin-top 10px
  width 100%
  height 50px
  line-height 40px
  border-bottom 1px solid #d7d9e6
  background-color #fff

  .txzl
    height 80px
  .scjf
     width 100%
     height 50px
     color #535353
     font-size 14px
     border-bottom  1px solid #d7d9e6
     background-color #fff
    ._sc
      display inline-block
      float left
      margin-top 5px
      width 49%
      height 40px
      line-height 40px
      text-align center
      border-right 1px solid #d7d9e6
      .zero
        font-size 30px
    .jf
      display inline-block
      margin-top 5px
      width 49%
      height 40px
      line-height 40px
      text-align center
      .zero
        font-size 30px
  .icon-tou
    display inline-block
    float left
    width 50px
    height 50px
    background url("../../img/info/content_list_icon01@2x.png") no-repeat center
    background-size 50%
  .icon-touxiang
    display inline-block
    margin-left 15px
    margin-top 15px
    float left
    width 50px
    height 50px
    background url("../../img/info/log in_user-head@2x.png") no-repeat center
    background-size 100%
  .dlzc
    margin-left 15px
    margin-top 15px
  .fy
    background url("../../img/info/content_list_icon02@2x.png") no-repeat center
    background-size 60%
  .yy
    background url("../../img/info/content_list_icon05@2x.png") no-repeat center
    background-size 60%
  .ls
    background url("../../img/info/content_list_icon03@2x.png") no-repeat center
    background-size 60%
  .gq
    background url("../../img/info/content_list_icon04@2x.png") no-repeat center
    background-size 60%
  .info-content
    display inline-block
    width 30%;
    height 50px
    line-height 50px
    clear both
  .icon-tz
    display inline-block
    position absolute
    right 0
    width 50px
    height 50px
    background url("../../img/info/content_list_right_icon@2x.png") no-repeat center
    background-size 18%
  .icon-tz.tz1
    margin-left 15px
    margin-top 15px
    background-size 22%
.bottom-list
  position fixed
  bottom 0
  width 100%
  height 20px
  display flex
  padding 10px 5px
  background-color #fff
  margin-top -20px
  border-top 1px solid #d6d7dc
  .end_one
    height 57px
    flex 1
    background url("../../img/appointment/bottom_nor_icon04@2x.png") no-repeat center
    background-size 22px
    margin-top -25px
  .active_one
    height 57px
    flex 1
    //background url("../../img/index/bottom_press_icon04@2x.png") no-repeat center
    //background-size 22px
    margin-top -25px
    color #b4b4b4
  .end_two
    height 57px
    flex 1
    background url("../../img/appointment/bottom_nor_icon03@2x.png") no-repeat center
    background-size 22px
    margin-top -25px
  .active_two
    height 57px
    flex 1
    //background url("../../img/appointment/bottom_press_icon03@2x.png") no-repeat center
    //background-size 22px
    margin-top -25px
    color #b4b4b4
  .end_three
    height 57px
    flex 1
    background url("../../img/appointment/bottom_icon05@2x.png") no-repeat center
    background-size 38px
    margin-top -18px
    position relative
    .three_hid
      margin 0 auto
      width 100px
      height 50px
      line-height 50px
      background-color rgba(255,255,255,0.8)
      position absolute
      top -35px
      text-align center
      right -10px
      border-radius 5px
      display none
      .hide_one
        font-size 0.8rem
        color #000000

  .end_four
    height 57px
    flex 1
    background url("../../img/appointment/bottom_nor_icon02@2x.png") no-repeat center
    background-size 22px
    margin-top -25px
  .active_four
    height 57px
    flex 1
    background url("../../img/appointment/bottom_nor_icon02@2x.png") no-repeat center
    background-size 22px
    margin-top -25px
    color #b4b4b4
  .end_five
    height 57px
    flex 1
    background url("../../img/appointment/bottom_press_icon01@2x.png") no-repeat center
    background-size 22px
    margin-top -25px
  .active_five
    height 57px
    flex 1
    //background url("../../img/appointment/bottom_nor_icon01@2x.png") no-repeat center
    //background-size 22px
    margin-top -25px
    color #b4b4b4
  .end_text
    position absolute
    color #b4b4b4
    top 28px
    margin-left 26px
    font-size 12px
  .end_texts
    position absolute
    top 28px
    margin-left 26px
    font-size 12px
    color #b4b4b4
  .five
    color #ea5404
    position absolute
    top 28px
    margin-left 26px
    font-size 12px
  .five1
    color #ea5404
    position absolute
    top 28px
    margin-left 33px
    font-size 12px
  .end_tex
    position absolute
    top 28px
    margin-left 33px
    font-size 12px










