*
  outline none

body
  background-color #efefef

.header
  height 35px
  background-color #fff
  font-size 20px
  line-height 35px

  .icon-set
    display inline-block
    position absolute
    top 0
    right 15px
    width 35px
    height 35px
    background url('../../../public/img/info/nav_set_icon@2x.png') no-repeat center
    background-size 16px 16px

  .header-title
    display inline-block
    position absolute
    left 48%
    top 0
    height 35px
    line-height 35px
    text-align center
.info-cells

.info-cell
  margin-top 10px
  width 100%
  height 50px
  line-height 40px
  border-bottom 1px solid #d7d9e6
  background-color #fff

  .txzl
    height 80px
  .scjf
     width 100%
     height 50px
     color #535353
     font-size 14px
     border-bottom  1px solid #d7d9e6
     background-color #fff
    ._sc
      display inline-block
      float left
      margin-top 5px
      width 49%
      height 40px
      line-height 40px
      text-align center
      border-right 1px solid #d7d9e6
      .zero
        font-size 30px
    .jf
      display inline-block
      margin-top 5px
      width 49%
      height 40px
      line-height 40px
      text-align center
      .zero
        font-size 30px
  .icon-tou
    display inline-block
    float left
    width 50px
    height 50px
    background url("../../img/info/content_list_icon01@2x.png") no-repeat center
    background-size 50%
  .icon-touxiang
    display inline-block
    margin-left 15px
    margin-top 15px
    float left
    width 50px
    height 50px
    background url("../../img/info/log in_user-head@2x.png") no-repeat center
    background-size 100%
  .dlzc
    margin-left 15px
    margin-top 15px
  .fy
    background url("../../img/info/content_list_icon02@2x.png") no-repeat center
    background-size 60%
  .yy
    background url("../../img/info/content_list_icon05@2x.png") no-repeat center
    background-size 60%
  .ls
    background url("../../img/info/content_list_icon03@2x.png") no-repeat center
    background-size 60%
  .gq
    background url("../../img/info/content_list_icon04@2x.png") no-repeat center
    background-size 60%
  .info-content
    display inline-block
    width 30%;
    height 50px
    line-height 50px
    clear both
  .icon-tz
    display inline-block
    position absolute
    right 0
    width 50px
    height 50px
    background url("../../img/info/content_list_right_icon@2x.png") no-repeat center
    background-size 18%
  .icon-tz.tz1
    margin-left 15px
    margin-top 15px
    background-size 24%
.footer
  display flex
  position absolute
  bottom 0
  padding-bottom 10px
  background-color #fff
  width 100%
  height 50px
  .footer-box
    flex 1
    text-align center
    .icon-footer
      display inline-block
      width 40px
      height 40px
      background url("../../img/info/bottom_nor_icon04@2x.png") no-repeat center
      background-size 70%
    .fyy
      background url("../../img/info/bottom_nor_icon03@2x.png") no-repeat center
      background-size 70%
    .fadd
      width 50px
      height 50px
      margin-top 5px
      background url("../../img/info/bottom_icon05@2x.png") no-repeat center
      background-size 100%
    .mess
      background url("../../img/info/bottom_nor_icon02@2x.png") no-repeat center
      background-size 70%
    .me
      background url("../../img/info/bottom_nor_icon01@2x.png") no-repeat center
      background-size 70%
    .footer-con
      display block
      color #666666
      font-size 12px










