body
  background-color #efefef

.header
  display flex
  height 50px
  background-color #fff

.header .icon-back
  display block
  width 50px
  height 50px
  background url("../../img/nav_back_icon@2x.png") no-repeat center
  background-size 18%

.header .header_title
  flex 1
  padding-right 50px
  line-height 50px
  text-align center

.info_box
  padding 20px 15px
  background-color #fff
  .info_img
    width 65px
    height 65px
    margin 0 auto
    background url("../../img/log in_user-head@2x.png") no-repeat center
    background-size 60px
  .info_name
    margin-top 5px
    text-align center
    line-height 24px
    font-size 1.2rem
  .info_desc
    margin-top 10px
    color #838181
    font-size .7em
    text-align center
    line-height 18px
  .info_edit
    width 6em
    margin 0 auto
    margin-top 10px
    padding 6px 14px
    border 1px solid #ffa66b
    border-radius 5px
    color #ffa66b
    line-height 30px

.info-cells
  margin-top 20px
  background-color #fff

.info-cell
  display flex
  padding 0 15px
  line-height 40px
  .info-name
    flex 3
    color #838181
    font-size .875em
  .info-content
    flex 4
    text-indent 10px

.image-cell
  display flex
  background-color #fff
  .image-block
    flex 1
    padding 10px
    height 90px
    img
      width 80%
      margin-left 10%
      height 70px
      background-color #838181
    .title
      margin 0 auto
      text-align center