//body
//   font-size 16px
//   background-color red
//  p
//    color aqua
//    font-size 22px
// div
//    background-color  yellow
//    width 200px
//    height 300px
//&:after
//  content '1'
//&:before
//  content '0'
