body {
  background-color: #efefef;
}
.tab_box {
  height: 32px;
  line-height: 32px;
  text-align: center;
  padding: 9px 0;
  background-color: #fff;
}
.demand_cells {
  padding: 15px;
  padding-bottom: 0;
}
.demand_cell {
  width: 100%;
  min-height: 100px;
  border-radius: 5px;
  box-shadow: 0 0 1px 1px #e0e0e0;
  line-height: 30px;
  background-color: #fff;
}
.demand_cell .demand-title {
  display: flex;
  height: 30px;
  padding: 0 10px;
  border-bottom: 1px solid #cecece;
}
.demand_cell .demand-title .d-t-name {
  flex: 1;
}
.demand_cell .demand-title .d-t-tag {
  display: inline-block;
  width: 50px;
  height: 16px;
  margin: 7px 0;
  padding: 2px 0;
  border-radius: 5px;
  background-color: #1fc22f;
  color: #fff;
  line-height: 16px;
  text-align: center;
  font-style: normal;
  font-size: 0.6rem;
}
.demand_cell .demand-info {
  margin: 0;
  padding: 10px;
  line-height: 1.2em;
}
.demand_cell .demand-footer {
  display: flex;
  height: 30px;
  padding: 10px;
  line-height: 30px;
}
.demand_cell .demand-footer .btn-detail {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #ececec;
  background-color: #efefef;
  color: #998;
  text-align: center;
}
.demand_cell .demand-footer .text-time {
  flex: 1;
  font-size: 0.8rem;
  font-style: normal;
  text-align: right;
}
.bottom-list {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 20px;
  display: flex;
  padding: 10px 5px;
  background-color: #fff;
  margin-top: -20px;
  border-top: 1px solid #d6d7dc;
}
.bottom-list .end_one {
  height: 57px;
  flex: 1;
  background: url("../../img/appointment/bottom_nor_icon04@2x.png") no-repeat center;
  background-size: 22px;
  margin-top: -25px;
}
.bottom-list .active_one {
  height: 57px;
  flex: 1;
  margin-top: -25px;
  color: #b4b4b4;
}
.bottom-list .end_two {
  height: 57px;
  flex: 1;
  background: url("../../img/appointment/bottom_press_icon03@2x.png") no-repeat center;
  background-size: 22px;
  margin-top: -25px;
}
.bottom-list .active_two {
  height: 57px;
  flex: 1;
  margin-top: -25px;
  color: #b4b4b4;
}
.bottom-list .end_three {
  height: 57px;
  flex: 1;
  background: url("../../img/appointment/bottom_icon05@2x.png") no-repeat center;
  background-size: 38px;
  margin-top: -18px;
  position: relative;
}
.bottom-list .end_three .three_hid {
  margin: 0 auto;
  width: 100px;
  height: 50px;
  line-height: 50px;
  background-color: rgba(255,255,255,0.8);
  position: absolute;
  top: -35px;
  text-align: center;
  right: -10px;
  border-radius: 5px;
  display: none;
}
.bottom-list .end_three .three_hid .hide_one {
  font-size: 0.8rem;
  color: #000;
}
.bottom-list .end_four {
  height: 57px;
  flex: 1;
  background: url("../../img/appointment/bottom_nor_icon02@2x.png") no-repeat center;
  background-size: 22px;
  margin-top: -25px;
}
.bottom-list .active_four {
  height: 57px;
  flex: 1;
  margin-top: -25px;
  color: #b4b4b4;
}
.bottom-list .end_five {
  height: 57px;
  flex: 1;
  background: url("../../img/appointment/bottom_nor_icon01@2x.png") no-repeat center;
  background-size: 22px;
  margin-top: -25px;
}
.bottom-list .active_five {
  height: 57px;
  flex: 1;
  background: url("../../img/appointment/bottom_press_icon01@2x.png") no-repeat center;
  background-size: 22px;
  margin-top: -25px;
  color: #b4b4b4;
}
.bottom-list .end_text {
  position: absolute;
  color: #b4b4b4;
  top: 28px;
  margin-left: 26px;
  font-size: 12px;
}
.bottom-list .end_texts {
  position: absolute;
  top: 28px;
  margin-left: 26px;
  font-size: 12px;
  color: #b4b4b4;
}
.bottom-list .two {
  color: #ea5404;
  position: absolute;
  top: 28px;
  margin-left: 26px;
  font-size: 12px;
}
.bottom-list .two1 {
  color: #ea5404;
  position: absolute;
  top: 28px;
  margin-left: 33px;
  font-size: 12px;
}
.bottom-list .end_tex {
  position: absolute;
  color: #b4b4b4;
  top: 28px;
  margin-left: 33px;
  font-size: 12px;
}
