<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,-->
    <!--minimum-scale=1,user-scalable=no">-->
    <!--<meta http-equiv="X-UA-COMPATIBLE" content="ie = edge">-->
    <!--<title>项目名-公司名称</title>-->
    <!--&lt;!&ndash;统一浏览器默认样式&ndash;&gt;-->
    <!--&lt;!&ndash;<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0./normalize.min.css">&ndash;&gt;-->
    <!--<link rel="stylesheet" href="../public/css/loading.css">-->
<!--</head>-->
<!--<body>-->
<!--<div class="logo"></div>-->
<!--<div class="copy">Copyright©2016</div>-->

<!--<script>-->
<!--//    window.onload = function () {-->
<!--//        location.href = './signin/signin.html'-->
<!--//    }-->
<!--</script>-->
<!--</body>-->
<!--</html>-->