<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>找房子 - 杭州摆摆网络科技有限公司</title>
    <meta name="keywords" content="杭州摆摆网络科技有限公司">
    <meta name="description" content="杭州摆摆网络科技有限公司是一家互联网制作及设计的现代设计公司摆摆网络将设计
    定位于以企业互联网电子商务平台及企业及企业信息化建设为基点，提供全方位的设计与应用方案。以网站建设及网络营销
    整合作为其主打服务产品之处，摆摆网络的服务范围包括软件开发、平面设计、界面设计、网页设计等多方位优质服务。">
    <link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="../../public/css/index/index.css">
</head>
<body>
<header class="header">
    <i class="icon-back">上海</i>
    <span class="header_title">项目名</span>
</header>
<div class="search_box">
    <div class="search_input"><i class="icon-search"></i><span>挑好房，上项目名</span></div>
</div>
<div class="slider_box">
    <div class="slider_container">
        <div class="slider_block"></div>
        <div class="slider_block"></div>
        <div class="slider_block"></div>
        <div class="slider_block"></div>
        <div class="slider_block"></div>
    </div>
    <div class="point_box">
        <span class="point_block active"></span>
        <span class="point_block"></span>
        <span class="point_block"></span>
        <span class="point_block"></span>
        <span class="point_block"></span>
    </div>
</div>
<div class="query_box">
    <div class="query_block"><span class="text">区域</span><i class="icon"></i></div>
    <div class="query_block"><span class="text">面积</span><i class="icon"></i></div>
    <div class="query_block"><span class="text">单价</span><i class="icon"></i></div>
    <div class="query_block"><span class="text">更多</span><i class="icon"></i></div>
    <div class="query_price"><i class="icon"></i></div>
</div>
<acticle>
    <section class="block_box">
        <div class="img_box"></div>
        <div class="info_box">
            <div class="info-title">东方金融中心</div>
            <div class="info-address">浦东-八佰伴</div>
            <div class="info-tag_box"><span>商务中心</span></div>
            <div class="info-price"><span><em>&yen;7</em>元/平米/天起</span><span>佣金：一个月</span></div>
        </div>
    </section>
</acticle>

<script src="//cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
<script src="../public/libs/zepto/touch.js"></script>
<script src="../public/js/index/index.js"></script>
</body>
</html>