<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>找房子 - 杭州摆摆网络科技有限公司</title>
    <meta name="keywords" content="杭州摆摆网络科技有限公司">
    <meta name="description" content="杭州摆摆网络科技有限公司是一家互联网制作及设计的现代设计公司摆摆网络将设计
    定位于以企业互联网电子商务平台及企业及企业信息化建设为基点，提供全方位的设计与应用方案。以网站建设及网络营销
    整合作为其主打服务产品之处，摆摆网络的服务范围包括软件开发、平面设计、界面设计、网页设计等多方位优质服务。">
    <link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="../../public/css/info/beforesignin.css">
</head>
<body>
    <div class="header">
        <i class="icon-set"></i>
        <span class="header-title">我</span>
    </div>
    <div class="info-cells">
        <div class="info-cell txzl">
            <i class="icon-touxiang "></i>
            <span class="info-content dlzc">点击 <span class="login">登录</span>/<span class="regis">注册</span></span>
            <i class="icon-tz tz1"></i>
        </div>
        <div class="scjf">
            <span class="_sc"><span class="zero">0</span> 收藏</span>
            <span class="jf"><span class="zero">0</span> 积分</span>
        </div>
        <div class="info-cell">
            <i class="icon-tou"></i>
            <span class="info-content">我发布的需求</span>
            <i class="icon-tz"></i>
        </div>
        <div class="info-cell">
            <i class="icon-tou fy"></i>
            <span class="info-content wofa">我发布的房源</span>
            <i class="icon-tz"></i>
        </div>
        <div class="info-cell">
            <i class="icon-tou yy"></i>
            <span class="info-content">我预约的房源</span>
            <i class="icon-tz"></i>
        </div>
        <div class="info-cell">
            <i class="icon-tou ls"></i>
            <span class="info-content">历史交易</span>
            <i class="icon-tz"></i>
        </div>
        <div class="info-cell">
            <i class="icon-tou gq"></i>
            <span class="info-content">过期房源</span>
            <i class="icon-tz"></i>
        </div>
    </div>
    <footer class="bottom-list">
        <div class="end_one "><span class="end_texts one">首页</span></div>
        <div class="end_two"><span class="end_text two">预约</span></div>
        <div class="end_three">
            <div  class="three_hid">
                <span class="hide_one">图片</span>
                <span class="hide_one">音乐</span>
            </div>
        </div>
        <div class="end_four"><span class="end_text four">信息</span></div>
        <div class="end_five"><span class="end_tex five">我</span></div>
    </footer>


    <script src="//cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
    <script src="../public/libs/zepto/touch.js"></script>
    <script src="../public/js/info/beforesignin.js"></script>
</body>
</html>