<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>找房子 - 杭州摆摆网络科技有限公司</title>
    <meta name="keywords" content="杭州摆摆网络科技有限公司">
    <meta name="description" content="杭州摆摆网络科技有限公司是一家互联网制作及设计的现代设计公司摆摆网络将设计
    定位于以企业互联网电子商务平台及企业及企业信息化建设为基点，提供全方位的设计与应用方案。以网站建设及网络营销
    整合作为其主打服务产品之处，摆摆网络的服务范围包括软件开发、平面设计、界面设计、网页设计等多方位优质服务。">
    <link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="../../public/css/info/info_detail.css">
</head>
<body>
    <header class="header">
        <i class="icon-back"></i>
        <span class="header_title">个人资料</span>
    </header>
    <div class="info_box">
        <div class="info_img"></div>
        <div class="info_name">蓝天地产</div>
        <div class="info_desc">斯人若彩虹，遇上方知有</div>
        <div class="info_edit">编辑个人资料</div>
    </div>
    <div class="info-cells">
        <div class="info-cell">
            <span class="info-name">企业邮箱/公司总机</span>
            <span class="info-content">54645646546@qq.com</span>
        </div>
        <div class="info-cell">
            <span class="info-name">联系人</span>
            <span class="info-content">54645646546@qq.com</span>
        </div>
        <div class="info-cell">
            <span class="info-name">联系方式</span>
            <span class="info-content">54645646546@qq.com</span>
        </div>
        <div class="info-cell">
            <span class="info-name">微信号码</span>
            <span class="info-content">54645646546@qq.com</span>
        </div>
        <div class="image-cell">
            <div class="image-block">
                <img src="" alt="">
                <p class="title">微信二维码</p>
            </div>
            <div class="image-block">
                <img src="" alt="">
                <p class="title">营业执照</p>
            </div>
            <div class="image-block">
                <img src="" alt="">
                <p class="title">租售代理协议</p>
            </div>
        </div>
    </div>

    <script src="//cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
    <script src="../public/libs/zepto/touch.js"></script>
    <script src="../public/js/info/info_detail.js"></script>
</body>
</html>