<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>找房子 - 杭州摆摆网络科技有限公司</title>
    <meta name="keywords" content="杭州摆摆网络科技有限公司">
    <meta name="description" content="杭州摆摆网络科技有限公司是一家互联网制作及设计的现代设计公司摆摆网络将设计
    定位于以企业互联网电子商务平台及企业及企业信息化建设为基点，提供全方位的设计与应用方案。以网站建设及网络营销
    整合作为其主打服务产品之处，摆摆网络的服务范围包括软件开发、平面设计、界面设计、网页设计等多方位优质服务。">
    <link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="../../public/css/component/addbloor.css">
</head>
<body>
    <div class="header">
        <i class="icon-back"></i>
        <span class="header_title">新增楼盘</span>
    </div>
    <div class="search_box">
        <input type="text" class="input" placeholder="输入您想要增加的楼盘">
    </div>
    <div class="search_box">
        <input type="text" class="input" placeholder="输入楼盘的地址">
    </div>
    <div class="search_box">
        <button class="btn_login">确定提交</button>
    </div>

    <script src="//cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
    <script src="../public/libs/zepto/touch.js"></script>
    <script src="../public/js/component/addbloor.js"></script>
</body>
</html>