<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>项目名 - 公司名</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="../../public/css/component/component.css">
</head>
<body>
    <div class="header">
        <span class="back">取消</span>
        <span class="header_title">发布房源</span>
    </div>
    <div class="search_box">
        <div class="search_input"><i class="icon-search"></i><span>武林广场</span><i class="icon-del"></i></div>
        <div class="add"><i class="icon-add"></i><span>新增楼盘</span></div>
    </div>
    <div class="info">
        <div class="info_detail">
            <div class="info-title"><i class="icon-info"></i> <span>大厦信息</span></div>
            <ul class="info_message">
                <li class="info_li sq"><span>商圈: 浦东八佰伴</span></li>
                <li class="info_li wy"><span>物业：上海浦江物业有限公司</span></li>
                <li class="info_li cs"><span>层数：30层</span></li>
                <li class="info_li cg"><span>层高：标准4.5米，净高2.75米，</span></li>
                <li class="info_li cw"><span>车位：地上40个，地下200个，1300元/月</span></li>
                <li class="info_li dt"><span>电梯：客梯10部，货梯3部</span></li>
                <li class="info_li kt"><span>空调：集中式中央空调</span></li>
            </ul>
        </div>
    </div>
    <div class="content">
        <div class="content-title"><i class="icon-content"></i> <span>房源信息</span><p>请选择发布房源的属性</p></div>
        <div class="radio_box">
            <div class="radio_block selected"><span class="radio_btn"><i class="icon">&nbsp;</i></span><span>整层</span></div>
            <div class="radio_block"><span class="radio_btn"><i class="icon">&nbsp;</i></span><span>整栋</span></div>
            <div class="radio_block"><span class="radio_btn"><i class="icon">&nbsp;</i></span><span>众创中心</span></div>
            <div class="radio_block"><span class="radio_btn"><i class="icon">&nbsp;</i></span><span>商务中心</span></div>
            <div class="radio_block"><span class="radio_btn"><i class="icon">&nbsp;</i></span><span>创意产业园</span></div>
            <div class="radio_block"><span class="radio_btn"><i class="icon">&nbsp;</i></span><span>写字楼</span></div>
            <div class="radio_block"><span class="radio_btn"><i class="icon">&nbsp;</i></span><span>工位</span></div>
        </div>
        <div class="select_box">
            <div class="jz">交付状态</div><div class="select-title" data-val="1">毛坯交付</div>
            <ul class="select-list">
                <li class="select-li" data-val="1">毛坯交付</li>
                <li class="select-li" data-val="2">标准交付</li>
                <li class="select-li" data-val="3">简装</li>
            </ul>
        </div>
    </div>
    <div class="imgDisplay">
        <i class="icon-img"></i>
        <i class="icon-img"></i>
        <i class="icon-img"></i>
        <i class="icon-img add-img">添加图片</i>
    </div>
    <div class="bt_box">
        <button class="btn_login">确认发布</button>
    </div>

    <script src="//cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
    <script src="../public/libs/zepto/touch.js"></script>
    <script src="../public/js/component/component.js"></script>
</body>
</html>