<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>找房子 - 杭州摆摆网络科技有限公司</title>
    <meta name="keywords" content="杭州摆摆网络科技有限公司">
    <meta name="description" content="杭州摆摆网络科技有限公司是一家互联网制作及设计的现代设计公司摆摆网络将设计
    定位于以企业互联网电子商务平台及企业及企业信息化建设为基点，提供全方位的设计与应用方案。以网站建设及网络营销
    整合作为其主打服务产品之处，摆摆网络的服务范围包括软件开发、平面设计、界面设计、网页设计等多方位优质服务。">
    <link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="../../public/css/appointment/appointment.css">
</head>
<body>
<header class="tab_box">预约</header>
<article class="demand_cells">
    <section class="demand_cell">
        <header class="demand-title"><span class="d-t-name">一个租房要求</span><i class="d-t-tag">租户</i></header>
        <p class="demand-info">需求为：一个租房要求一个租房要求一个租房要求一个租房要求一个租房要求</p>
        <footer class="demand-footer"><em class="text-time"></em><span class="btn-detail">了解详情</span><em class="text-time">08/04/12:12</em></footer>
    </section>
</article>
<article class="demand_cells">
    <section class="demand_cell">
        <header class="demand-title"><span class="d-t-name">一个租房要求</span><i class="d-t-tag">经纪人</i></header>
        <p class="demand-info">需求为：一个租房要求一个租房要求一个租房要求一个租房要求一个租房要求</p>
        <footer class="demand-footer"><em class="text-time"></em><span class="btn-detail">了解详情</span><em class="text-time">08/04/12:12</em></footer>
    </section>
</article>
<footer class="bottom-list">
    <div class="end_one "><span class="end_texts one">首页</span></div>
    <div class="end_two"><span class="end_text two">预约</span></div>
    <div class="end_three">
        <div  class="three_hid">
            <span class="hide_one">图片</span>
            <span class="hide_one">音乐</span>
        </div>
    </div>
    <div class="end_four"><span class="end_text four">信息</span></div>
    <div class="end_five"><span class="end_tex">我</span></div>
</footer>

<script src="//cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
<script src="../public/libs/zepto/touch.js"></script>
<script src="../public/js/appointment/appointment.js"></script>
</body>
</html>