$orange = #ED692B
*
  outline none

body
  background-color #efefef

.header
  height 35px
  background-color #fff
  line-height 35px

  .icon-back
      display inline-block
      position absolute
      top 0
      left 15px
      width 35px
      height 35px
      background url('../../../public/img/signin/nav_back_icon@2x.png') no-repeat center
      background-size 12px 18px

  .header-title
    display inline-block
    width 100%
    color $orange
    text-align center

.content
  margin-top 15px
  padding-right 15px
  background #fff

  .cell
    position relative
    display flex
    height 40px
    line-height 40px

    .icon-tel
      display inline-block
      margin-left 5px
      width 40px
      height 40px
      background url("../../../public/img/signin/content_ID_icon@2x.png") no-repeat left 10px center
      background-size 20px 20px

    .telInp
      flex 1
      height 38px
      margin 0
      margin-left 10px
      padding 0
      border none

.icon-passwd
  display inline-block
  margin-left 5px
  width 40px
  height 40px
  background url("../../../public/img/signin/content_password_icon@2x.png") no-repeat left 10px center
  background-size 20px 20px
.passInp
  flex 1
  height 38px
  margin 0
  margin-left 10px
  padding 0
  border none

.bt_box
  display flex
  height 40px
  margin-top 20px
  padding 0 15px

  .btn_login
    display block
    width 100%
    height 40px
    border none
    border-radius 5px
    background-color #C7C7C7
    color #fff
    font-size 1.1rem
    line-height 40px

  .bt-reg
    flex 1
    color $orange
    padding-left 10px

  .bt-passwd
    flex 1
    padding-right 10px
    color #7A7A7C
    text-align right