body {
  background-color: #efefef;
}
.header {
  display: flex;
  height: 50px;
  position: absolute;
  top: 0;
  z-index: 5;
  width: 100%;
  color: #fff;
  background-color: transparent;
}
.header .icon-back {
  display: block;
  width: 65px;
  height: 50px;
  padding-left: 15px;
  background: transparent url("../../img/index/nav_icon_down@2x.png") no-repeat left 50px center;
  background-size: 12px 6px;
  line-height: 50px;
  font-style: normal;
}
.header .header_title {
  flex: 1;
  padding-right: 80px;
  line-height: 50px;
  text-align: center;
}
.search_box {
  position: absolute;
  top: 50px;
  right: 15px;
  left: 15px;
  z-index: 5;
}
.search_box .search_input {
  height: 30px;
  border-radius: 3px;
  background-color: #f1f1f1;
  text-align: center;
  line-height: 30px;
  color: #999;
}
.search_box .search_input .icon-search {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url("../../img/index/nav_icon_search@2x.png") no-repeat center;
  background-size: 16px;
  vertical-align: bottom;
}
.slider_box {
  width: 100%;
  height: 320px;
  overflow: hidden;
}
.slider_box .slider_container {
  width: 300%;
  transition: all 0.5s;
  transform: translateX(0);
}
.slider_box .slider_container:after {
  content: '';
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
}
.slider_block {
  float: left;
  width: 375px;
  height: 320px;
  background: url("../../img/index/banner_img@2x.jpg") no-repeat center;
}
.slider_block:nth-child(2) {
  background-color: #0000ed;
}
.slider_block:nth-child(3) {
  background-color: #0f0;
}
.slider_block:nth-child(4) {
  background-color: #f66;
}
.slider_block:nth-child(5) {
  background-color: #009926;
}
.point_box {
  position: absolute;
  top: 280px;
  left: 35%;
  z-index: 99;
  width: 30%;
  height: 16px;
  text-align: center;
}
.point_box .point_block {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("../../img/index/banner_icon_point_nor@2x.png") no-repeat center;
  background-size: 10px;
}
.point_box .point_block.active {
  background: url("../../img/index/banner_icon_point_press@2x.png") no-repeat center;
  background-size: 10px;
}
.query_box {
  display: flex;
  width: 100%;
  height: 50px;
  margin-top: 15px;
  background-color: #fff;
}
.query_box .query_block {
  flex: 1;
}
.query_box .query_block.active {
  background-color: #0000ed;
}
.query_box .query_block .text {
  display: block;
  height: 35px;
  text-align: center;
  line-height: 35px;
}
.query_box .query_block .icon {
  display: block;
  height: 15px;
  background: url("../../img/index/content_icon02_nor@2x.png") no-repeat center;
}
.query_box .query_block .icon.active {
  background: url("../../img/index/content_icon02_press@2x.png") no-repeat center;
}
.query_box .query_price {
  width: 50px;
  height: 50px;
  background: url("../../img/index/content_icon01_nor@2x.png") no-repeat center;
  background-size: 30px;
}
.block_box {
  position: relative;
  margin-top: 10px;
  width: 100%;
  height: 100px;
  font-size: 14px;
  background-color: #fff;
}
.block_box .img_box {
  float: left;
  width: 32%;
  height: 100%;
  background: url("../../img/index/content_img_list@2x.png") no-repeat center;
  background-size: 80%;
}
.block_box .info_box {
  float: left;
  padding-top: 15px;
  height: 80%;
  font-size: 14px;
}
.block_box .info_box .info-tag_box {
  width: 70px;
  text-align: center;
  border-radius: 3px;
  color: #ffa66b;
  border: 1px solid #ffa66b;
}
.down-box ul,
.down-box li {
  margin: 0;
  padding: 0;
  height: 50px;
  line-height: 50px;
  text-align: center;
  list-style: none;
}
.fixTop {
  position: relative;
  top: -70px;
  left: 80%;
}
._fixTop {
  display: block;
  width: 50px;
  height: 50px;
  background: url("../../img/index/content_btn_back@2x.png") no-repeat center;
  background-size: 70%;
}
.footer {
  display: flex;
  background-color: #fff;
  width: 100%;
}
.footer .footer-box {
  flex: 1;
  text-align: center;
}
.footer .footer-box .icon-footer {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: url("../../img/index/bottom_press_icon04@2x.png") no-repeat center;
  background-size: 70%;
}
.footer .footer-box .footer-con.sy {
  color: #ffa66b;
}
.footer .footer-box .fyy {
  background: url("../../img/index/bottom_nor_icon03@2x.png") no-repeat center;
  background-size: 70%;
}
.footer .footer-box .fadd {
  width: 50px;
  height: 50px;
  margin-top: 5px;
  background: url("../../img/index/bottom_icon05@2x.png") no-repeat center;
  background-size: 100%;
}
.footer .footer-box .mess {
  background: url("../../img/index/bottom_nor_icon02@2x.png") no-repeat center;
  background-size: 70%;
}
.footer .footer-box .me {
  background: url("../../img/index/bottom_nor_icon01@2x.png") no-repeat center;
  background-size: 70%;
}
.footer .footer-box .footer-con {
  display: block;
  color: #666;
  font-size: 12px;
}
