body {
  background-color: #efefef;
}
.header {
  display: flex;
  height: 50px;
  position: absolute;
  top: 0;
  z-index: 5;
  width: 100%;
  color: #fff;
  background-color: transparent;
}
.header .icon-back {
  display: block;
  width: 65px;
  height: 50px;
  padding-left: 15px;
  background: transparent url("../../img/index/nav_icon_down@2x.png") no-repeat left 50px center;
  background-size: 12px 6px;
  line-height: 50px;
  font-style: normal;
}
.header .header_title {
  flex: 1;
  padding-right: 80px;
  line-height: 50px;
  text-align: center;
}
.search_box {
  position: absolute;
  top: 50px;
  right: 15px;
  left: 15px;
  z-index: 5;
}
.search_box .search_input {
  height: 30px;
  border-radius: 3px;
  background-color: #f1f1f1;
  text-align: center;
  line-height: 30px;
  color: #999;
}
.search_box .search_input .icon-search {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url("../../img/index/nav_icon_search@2x.png") no-repeat center;
  background-size: 16px;
  vertical-align: bottom;
}
.slider_box {
  width: 100%;
  height: 320px;
  overflow: hidden;
}
.slider_box .slider_container {
  width: 300%;
  transition: all 0.5s;
  transform: translateX(0);
}
.slider_box .slider_container:after {
  content: '';
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
}
.slider_block {
  float: left;
  width: 375px;
  height: 320px;
  background: url("../../img/index/banner_img@2x.jpg") no-repeat center;
}
.slider_block:nth-child(2) {
  background: url("../../img/index/slider02.jpg") no-repeat center;
}
.slider_block:nth-child(3) {
  background: url("../../img/index/slider03.jpg") no-repeat center;
}
.slider_block:nth-child(4) {
  background: url("../../img/index/slider04.jpg") no-repeat center;
}
.slider_block:nth-child(5) {
  background: url("../../img/index/slider05.jpg") no-repeat center;
}
.point_box {
  position: absolute;
  top: 280px;
  left: 35%;
  z-index: 99;
  width: 30%;
  height: 16px;
  text-align: center;
}
.point_box .point_block {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("../../img/index/banner_icon_point_nor@2x.png") no-repeat center;
  background-size: 10px;
}
.point_box .point_block.active {
  background: url("../../img/index/banner_icon_point_press@2x.png") no-repeat center;
  background-size: 10px;
}
.query_box {
  width: 100%;
  height: 50px;
  margin-top: 10px;
  display: flex;
  background-color: #fff;
}
.query_box .query_block {
  flex: 1;
}
.query_box .query_block.active {
  background-color: #0000ed;
}
.query_box .query_block .text {
  height: 35px;
  text-align: center;
  line-height: 35px;
  font-size: 14px;
  display: block;
}
.query_box .query_block .icon {
  height: 15px;
  background: url("../../img/index/content_icon02_nor@2x.png") no-repeat center;
  background-size: 12px;
  display: block;
  margin-top: -10px;
}
.query_box .query_price {
  width: 50px;
  height: 50px;
  background: url("../../img/index/content_icon01_nor@2x.png") no-repeat center;
  background-size: 30px;
}
.query_box .query_price.active-down {
  background: url("../../img/index/content_icon01_down@2x.png") no-repeat center;
  background-size: 30px;
}
.query_box .query_price.active-up {
  background: url("../../img/index/content_icon01_litre@2x.png") no-repeat center;
  background-size: 30px;
}
.block_box {
  height: 100px;
  padding: 15px;
  background-color: #fff;
  margin-top: 10px;
  position: relative;
}
.block_box .img_box {
  width: 256px;
  height: 180px;
  background: url("../../img/index/content_img_list@2x.png") no-repeat left center;
  background-size: 128px 100px;
  position: absolute;
  top: -30px;
}
.block_box .info_box {
  padding-left: 150px;
  position: relative;
}
.block_box .info_box .info-title {
  color: #323232;
  margin-bottom: 3px;
}
.block_box .info_box .info-title .title_left {
  font-size: 18px;
}
.block_box .info_box .info-title:after {
  content: '';
  width: 28px;
  height: 26px;
  background: url("../../img/index/collect_icon_nor@2x.png") no-repeat right center;
  background-size: 14px 13px;
  position: absolute;
  right: 0px;
  top: -5px;
}
.block_box .info_box .heart:after {
  content: '';
  width: 28px;
  height: 26px;
  background: url("../../img/index/collect_icon_press@2x.png") no-repeat right center;
  background-size: 14px 13px;
  position: absolute;
  right: 0px;
  top: -5px;
  z-index: 5;
}
.block_box .info_box .info-address {
  font-size: 16px;
  color: #9f9f9f;
  margin-bottom: 3px;
}
.block_box .info_box .info-tag_box {
  width: 70px;
  height: 25px;
  border: 1px solid #ffa500;
  border-radius: 5px;
  text-align: center;
}
.block_box .info_box .info-tag_box .t_b_t {
  font-size: 0.8rem;
  color: #ffa500;
  text-align: center;
  line-height: 25px;
}
.block_box .info_box .info-price {
  font-size: 14px;
  margin-top: 8px;
  position: relative;
}
.block_box .info_box .info-price .price_left {
  color: #9f9f9f;
}
.block_box .info_box .info-price .price_left em {
  font-style: normal;
  color: #ffa500;
  padding-right: 5px;
}
.block_box .info_box .info-price .price_right {
  position: absolute;
  right: -5px;
  color: #9f9f9f;
  top: 1px;
}
.down-box {
  display: none;
}
.down-box ul li {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
.down-box ul {
  margin: 0;
}
.bottom-list {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 20px;
  display: flex;
  padding: 10px 5px;
  background-color: #fff;
  margin-top: -20px;
  border-top: 1px solid #d6d7dc;
}
.bottom-list .end_one {
  height: 57px;
  flex: 1;
  background: url("../../img/index/bottom_press_icon04@2x.png") no-repeat center;
  background-size: 22px;
  margin-top: -25px;
}
.bottom-list .active_one {
  height: 57px;
  flex: 1;
  background: url("../../img/index/bottom_nor_icon04@2x.png") no-repeat center;
  background-size: 22px;
  margin-top: -25px;
  color: #b4b4b4;
}
.bottom-list .end_two {
  height: 57px;
  flex: 1;
  background: url("../../img/index/bottom_nor_icon03@2x.png") no-repeat center;
  background-size: 22px;
  margin-top: -25px;
}
.bottom-list .active_two {
  height: 57px;
  flex: 1;
  background: url("../../img/index/bottom_press_icon03@2x.png") no-repeat center;
  background-size: 22px;
  margin-top: -25px;
  color: #b4b4b4;
}
.bottom-list .end_three {
  height: 57px;
  flex: 1;
  background: url("../../img/index/bottom_icon05@2x.png") no-repeat center;
  background-size: 38px;
  margin-top: -18px;
  position: relative;
}
.bottom-list .end_three .three_hid {
  margin: 0 auto;
  width: 100px;
  height: 50px;
  line-height: 50px;
  background-color: rgba(255,255,255,0.8);
  position: absolute;
  top: -35px;
  text-align: center;
  right: -10px;
  border-radius: 5px;
  display: none;
}
.bottom-list .end_three .three_hid .hide_one {
  font-size: 0.8rem;
  color: #000;
}
.bottom-list .end_four {
  height: 57px;
  flex: 1;
  background: url("../../img/msg/bottom_nor_icon02@2x.png") no-repeat center;
  background-size: 22px;
  margin-top: -25px;
}
.bottom-list .active_four {
  height: 57px;
  flex: 1;
  background: url("../../img/msg/bottom_press_icon02@2x.png") no-repeat center;
  background-size: 22px;
  margin-top: -25px;
  color: #b4b4b4;
}
.bottom-list .end_five {
  height: 57px;
  flex: 1;
  background: url("../../img/msg/bottom_nor_icon01@2x.png") no-repeat center;
  background-size: 22px;
  margin-top: -25px;
}
.bottom-list .active_five {
  height: 57px;
  flex: 1;
  background: url("../../img/msg/bottom_press_icon01@2x.png") no-repeat center;
  background-size: 22px;
  margin-top: -25px;
  color: #b4b4b4;
}
.bottom-list .end_text {
  position: absolute;
  color: #b4b4b4;
  top: 28px;
  margin-left: 26px;
  font-size: 12px;
}
.bottom-list .end_texts {
  position: absolute;
  top: 28px;
  margin-left: 26px;
  font-size: 12px;
  color: #b4b4b4;
}
.bottom-list .one {
  color: #ea5404;
  position: absolute;
  top: 28px;
  margin-left: 26px;
  font-size: 12px;
}
.bottom-list .one1 {
  color: #ea5404;
  position: absolute;
  top: 28px;
  margin-left: 33px;
  font-size: 12px;
}
.bottom-list .end_tex {
  position: absolute;
  color: #b4b4b4;
  top: 28px;
  margin-left: 33px;
  font-size: 12px;
}
