body {
  margin: 0;
  padding: 0;
  background-color: #efefef;
}
.header {
  display: flex;
  height: 50px;
  z-index: 5;
  width: 100%;
  color: #19151a;
  background-color: #fff;
}
.header .icon-back {
  display: inline-block;
  position: absolute;
  top: 8px;
  left: 15px;
  width: 34px;
  height: 34px;
  background: url("../../../public/img/signin/nav_back_icon@2x.png") no-repeat center;
  background-size: 10px 16px;
}
.header .header_title {
  flex: 1;
  padding-right: 80px;
  line-height: 50px;
  text-align: center;
}
.search_box {
  height: 40px;
  margin-top: 15px;
  padding: 0 15px;
}
.search_box .input {
  padding: 0;
  padding-left: 10px;
  width: 96.8%;
  height: 38px;
  border: 1px solid #d7d9e6;
  border-radius: 5px;
  outline: none;
  background-color: #fff;
}
.search_box .btn_login {
  width: 100%;
  height: 40px;
  border: 1px solid #d7d9e6;
  border-radius: 5px;
  outline: none;
  background-color: #fff;
  color: #ed692b;
}
