body {
  background-color: #efefef;
}
.tab_box {
  height: 32px;
  padding: 9px 0;
  background-color: #fff;
}
.tab_bar {
  display: flex;
  width: 80%;
  height: 30px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  border-radius: 5px;
  border: 1px solid #ed692b;
  color: #ed692b;
}
.tab_bar .tab_bar-cell {
  position: relative;
  flex: 1;
  line-height: 30px;
  text-align: center;
}
.tab_bar .tab_bar-cell:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 1px;
  height: 30px;
  background-color: #ed692b;
}
.tab_bar .tab_bar-cell:last-child:after {
  content: '';
  display: none;
}
.tab_bar .tab_bar-cell.active {
  background-color: #ed692b;
  color: #fff;
}
